/* Color
---------------*/
$ctaColorPrimary: #FD8105;
$ctaColorSecondary: black;
$primaryColor: black;

/* Border
--------------------*/
$borderRadiusDefault: 22px;

/*Box 
-----------------*/
$boxShadowDefault: 5px 10px 10px gray;
