@import "./styles/variables.scss"; 

/* Reset
------------*/

* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
li {
	font-family: arial, sans-serif;
}


.cta {
	background: $ctaColorPrimary;
	border-radius: $borderDefault;
	padding: 10px 20px;
	color: white;
	border: 0;
	cursor: pointer;
	min-width: 100px;
}

.cta-secondary {
	background: $ctaColorSecondary;
}